*{
    margin: 0;
}

#container{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 78);
    
}
#machine{
    position: absolute;
    border-style: double;
    width: 35%;
    height: 70%;
    background-color: rgb(180, 216, 185);
    top: 17%;
    left: 35%;
  
}
#header{
    margin:2px;
    display:flex;
    height: 5%;
    
    justify-content:space-between;
    
}
#panel{
    ;
    width: 100%;
    height: 30%;
    justify-content: space-between;
    display: flex;
    padding-top: 5%;

}

.img{
    width: 33%;
    height: 80%;
    border-style: ridge;
}
#panel1{
    width: 100%;
    height: 100%;
}
#panel2{
    width: 100%;
    height: 100%;
}
#panel3{
    width: 100%;
    height: 100%;
}
.lucky{
    margin-left:23%;
    width: 50%;
    height: 5%;
}
